#tablita1{
    margin-top:70px;
    margin-right: -100px !important;
}
#tablita{
  margin-top:150px;
}
th{
    color:white !important;
    text-align: center;
}
tbody{
  color:white !important;
  text-align: center;
}
body{
    background-color: black;
}
img{
    width:620px;
    height: 670px;
    margin-left:10px;   
}
h1{
    color:white;
    text-align: center;
}
form{
  color: white;
  text-align: center;
  margin-top: 100px !important;
  margin-bottom: 50px !important;
  margin-left:-150px !important; 
}
button{
  background-color: rgb(245, 120, 120) !important;
  width: 100%;
}
